.main {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: calc(-320px + 100vh);
}

.mainElement {
	composes: ml-8 from global;
	max-height: 80px;
}

.listRef {
	overflow: hidden auto;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.item {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.canDrop {
	border: 3px dotted #4c4cff;
}

.active {
	background: rgba(76, 106, 255, 0.6) ;
}
