.main {
	display: flex;
	max-width: 1310px;
	margin: 0 auto;
	gap: 60px;
}

.nav {
	composes: pt-30 from global;
	max-width: 320px;
}

.ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navText {
	composes: text text_type_main-medium text_color_inactive from global;
	line-height: 2.25;
}

.navButton {
	@extend .navText;
	background-color: inherit;
	border: none;
}

.navButton:active, .navButton:focus {
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.navTextActive {
	@extend .navText;
	color: #F5F6F7;
}
