.item {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 272px;
	height: 208px;
	gap: 4px;
	cursor: pointer;
}

.price {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.name {
	composes: text text_type_main-default from global;
	text-align: center;
}
